html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: "DotGothic16", sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
    overflow: hidden;
    background-image: url("background.jpg");
}

p {
    position: absolute;
    top: 70%;
    width: 100%; 
    text-align: center;
    margin: 0; 
    z-index: 999; 
    font-size: 2em;
    color: white;
    text-stroke: 1.9px black; /* For Webkit browsers */
    -webkit-text-stroke: 1.2px black; /* For Safari and Chrome */
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.8);
}

p:nth-child(2) {
    top: 76%;
}

p:nth-child(3) {
    top: 82%;
}